body {
    color: #fff;
    background-color: #000;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    cursor: pointer;
}
.collapse.navbar-collapse {
    font-weight: 500;
    flex-grow: 0;
}
.collapse.navbar-collapse a {
    padding: 0 25px;
}
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 0.5rem;
    /* background-size: cover; */
}
.avatar-wrapper {
    display: block;
    border-radius: 0.5rem;
}
.bg-tps {
    background-color: #5aba63;
}
.card-icon {
    padding: 10px;
    height: 80px;
    width: 80px;
}
.card-body {
    font-family: "Courier New", Courier, monospace;
}
.card-head {
    flex-shrink: 1;
    color: #dadada;
}
.card-name {
    font-weight: 600;

    padding: 0.25rem;
}
.logo {
    padding: 15px;
    flex-grow: 1;
    height: 100px;
}

.item-1 {
    background-color: #1969a6;
}
.item-2 {
    background-color: #c83233;
}
.item-3 {
    background-color: #1a8243;
}
.item-4 {
    background-color: #b8a614;
}
.item-5 {
    background-color: #949945;
}
.item-6 {
    background-color: #aa2a2b;
}
.item-7 {
    background-color: #76de31;
}
.item-8 {
    background-color: #34e0e0;
}
.my-card {
    height: 300px;
}
.my-card > a {
    border: 1px solid #ffffff;
    padding: 30px;
    height: 100%;
}
.my-card > a:hover {
    color: inherit;
    border: 1px solid #3307f8;
}
.my-nav {
    height: 100px;
    background-color: #5aba63;
}
#toggle-btn {
    border: 0px;
}
.user {
    display: none;
}

@media (min-width: 991px) {
    .user {
        display: flex;
    }
}
